{% extends '::base.html.twig' %}

{% block body %}
<div class="listings">
    {% for listing in listings %}
    {% set rooms = listing.num_bedrooms %}
    <div class="row">
        <div class="listing col-md-12">
            <h2>
                <a href="{{ listing.details_url }}" target="_blank">
                {{ rooms }} Bedroom {{ listing.property_type }} - {{ listing.street_name }}, {{ listing.outcode }}
                </a>
            </h2>
            <div class="col-md-2"><img src="{{ listing.image_url }}" width="180px"></div>
            <div class="col-md-8"><p>{{ listing.short_description|raw }}</p></div>
            <ul class="list-unstyled col-md-2">
                <li>£{{ listing.average_price_pw|number_format(2, '.', ',') }}pw
                <li>£{{ listing.average_price_pcm|number_format(2, '.', ',') }}pcm
            </ul>
            <div class="clearfix"></div>
            <ul class="list-unstyled col-md-2">
                <li>{{ listing.first_published_date|date('d/m/Y') }}</li>
                <li>{{ listing.last_published_date|date('d/m/Y') }}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
